<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
{{>header}}
<link rel="stylesheet" href="./css/style.css">
</head>

<body>
<img class="portrait" src="img/photo.jpg">
</body>
<footer>This page is created by {{>footer}} </footer>
</html>