<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/icon.png">
<h1>{{>header}}</h1>
<link rel="stylesheet" href="./css/errorstyle.css">
</head>
<body>
<img src="img/error.jpg">
</body>
<footer>This page is created by {{>footer}} </footer>
</html>