<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/icon.png">
    {{>header}}
<link rel="stylesheet" href="./css/style.css">
</head>

<body>
<p>{{description}}</p>
</body>
<footer>This page is Created by {{>footer}}</footer>
</html>